* {
  outline: solid red 1px
}

body {
  background-color: #ddd;
  width: 800px;
  margin: 0 auto;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
  background-color: #aaa;
  /*height: 100px;*/
  width: 800px;
  display: block;
}

.question, .image {
  width: 390px;
  height: 100px;
}

.question {
  float: left;
}

.image {
  float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6&7 */
}