* {
  outline: solid red 1px
}

body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
  width: 800px;
  display: block;
}

.question, .image {
  width: 390px;
  height: 100px;
}

.question {
  float: left;
}

.image {
  float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* IE6&7 */
}

li {
  padding: 20px;
  list-style-type: none;
  margin: 12px;
}

.rightShow {
  background-color: green;
}

.wrongShow {
  background-color: red;
}

audio {
  text-align: center;
}


